<h1>Student Management System</h1>
<br />
<br />

<a asp-controller="student" asp-action="StudentList" class="btn-btn-primary">StudentList</a>
    <a asp-controller="student" asp-action="CreateStudent" class="btn-btn-primary">
        CreateStudent
    </a>
    <div class="indeximage">

        <img src="~/img/student1.jpg">
    </div>


